<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klienci</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Kienci</h1>
            <p>Wszyscy klienci sklepu, którzy dokonali zakupu</p>
        </div>
    </div>
</section>
<!--/*@thymesVar id="customers" type="com.pakct.webstore.domain.Customer"*/-->
<section class="container">
    <div class="row">
        <div  th:each="customer : ${customers}" class="col-sm-6 col-md-4 pb-5">
            <div class="card">
                <div class="card-body">
                    <!--/*@thymesVar id="customer" type="com.packt.webstore.domain.Customer"*/-->
                    <h3 class="card-header" th:text="${customer.name}">ddddddddd</h3>
                    <div class="card-text">
                        <p th:text="${customer.address}">dddddddddddd</p>
                        <p>Liczba zamówień: <strong th:text="${customer.noOfOrdersMade}"></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>