<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produkt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--/*@thymesVar id="product" type="com.packt.webstore.domain.Product"*/-->
<body>
    <section class="jumbotron">
        <div class="container">
            <h1>Produkt</h1>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col">
                <h3 th:text="${product.name}"></h3>
                <p th:text="${product.description}"></p>
                <p>
                    <strong>Kod produktu: </strong>
                    <span class="badge badge-warning" th:text="${product.productId}"></span>
                </p>
                <p>
                   <strong>Producent: </strong><span th:text="${product.manufacturer}"></span>
                </p>
                <p>
                    <strong>Kategoria: </strong><span th:text="${product.category}"></span>
                </p>
                <p>
                    <strong>Dostępna liczba sztuk: </strong><span th:text="${product.unitsInStock}"></span>
                </p>
                <h4 th:text="${product.unitPrice}+'PLN'"></h4>
                <p>
                        <a href="#" class="btn btn-warning btn-lg mr-1">
                            <i class="fa fa-shopping-cart"></i> Zamów teraz
                            <a href="#" th:href="@{/products}" class="btn btn-basic">
                            <i class="fa fa-hand-o-left"></i> Wstecz
                        </a>
                        </a>
                </p>
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
</html>